Hello Master Joseph,

{{ name }} tried to reach out to you. Here are the details they left behind.

Email: {{ email_address }}
Contact Number: {{ contact_number }}
Message: {{ message }}

Regards,
Alfred