{% extends "base.html" %}
{% block title %}Patrick Joseph Photography{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
{% endblock %}
{% block content %}
<div class="uk-grid uk-margin-top uk-margin-large-bottom">
  <div class="uk-width-1-1">
    <article class="uk-article uk-text-contrast">
      <p class="photo-section" id="home"></p>
    </article>
    <article class="uk-article uk-text-contrast uk-margin">
      <p class="uk-align-center uk-margin-large-left uk-margin-large-right uk-margin-large-bottom uk-margin-large-top">A wedding is a ceremony where two people are united in marriage. Wedding traditions and customs vary greatly between cultures, ethnic groups, religions, countries, and social classes. Most wedding ceremonies involve an exchange of wedding vows by the couple, presentation of a gift (offering, ring(s), symbolic item, flowers, money), and a public proclamation of marriage by an authority figure. Special wedding garments are often worn, and the ceremony is sometimes followed by a wedding reception. Music, poetry, prayers or readings from religious texts or literature are also commonly incorporated into the ceremony.</p>
      <p class="photo-section" id="wedding"></p>
    </article>
    <article class="uk-article uk-text-contrast">
      <p class="uk-align-center uk-margin-large-left uk-margin-large-right uk-margin-large-bottom uk-margin-large-top">An engagement, betrothal, or fiancer is a promise to wed, and also the period of time between a marriage proposal and a marriage. During this period, a couple is said to be betrothed, "intended", affianced, engaged to be married, or simply engaged. Future brides and grooms may be called the betrothed, a wife-to-be or husband-to-be, fiancée or fiancé, respectively (from the French word fiancer). The duration of the courtship varies vastly, and is largely dependent on cultural norms or upon the agreement of the parties involved.<br><br>
      Long engagements were once common in formal arranged marriages, and it was not uncommon for parents betrothing children to arrange marriages many years before the engaged couple were old enough.</p>
      <p class="photo-section" id="pre-wedding"></p>
    </article>
  </div>
</div>
{% endblock %}