<nav class="uk-navbar uk-hidden-large site-nav-scroll-fixed">
  <a href="#site-nav-touch" class="uk-navbar-toggle" data-uk-offcanvas></a>
  <a href="/"><img class="uk-navbar-brand uk-navbar-center" src="/static/images/brand.jpg"/></a>
</nav>
<div id="site-nav-touch" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas">
      <li class="uk-parent">
        <a href="/about/">About Me</a>
      </li>
      <li class="uk-parent">
        <a href="/wedding/">Wedding Portfolio</a>
      </li>
      <li class="uk-parent">
        <a href="/myart/">My Art</a>
      </li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</div>
<nav class="uk-navbar uk-visible-large site-nav-scroll-fixed">
  <div class="uk-container uk-container-center">
    <a href="/"><img src="/static/images/brand.jpg" width="30%" /></a>
    <ul class="uk-navbar-nav uk-navbar-flip">
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="/about/">About Me</a>
      </li>
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="/wedding/">Wedding Portfolio</a>
      </li>
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="/myart/">My Art</a>
      </li>
      <li><a class="uk-text-contrast" href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>