<nav class="uk-navbar uk-hidden-large site-nav-scroll-fixed">
  <a href="#site-nav-touch" class="uk-navbar-toggle" data-uk-offcanvas></a>
  <a href="/"><img class="uk-navbar-brand uk-navbar-center" src="/static/images/brand.jpg"/></a>
</nav>
<div id="site-nav-touch" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas">
      <li class="uk-parent">
        <a href="/about/">About Me</a>
      </li>
      <li class="uk-parent">
        <a href="#">Portfolio</a>
        <ul class="uk-nav-sub">
          <li class="site-nav-small-sub-item"><a href="/wedding/">Wedding</a></li>
          <li class="site-nav-small-sub-item"><a href="/pre-wedding/">Pre-Wedding Photo Shoot</a></li>
        </ul>
      </li>
      <li class="uk-parent">
        <a href="#">My Art</a>
        <ul class="uk-nav-sub">
          <li class="site-nav-small-sub-item"><a href="/my-art/#portraits">Portraits</a></li>
          <li class="site-nav-small-sub-item"><a href="/my-art/#travel">Travel</a></li>
          <li class="site-nav-small-sub-item"><a href="/my-art/#other-related-work">Other Related Work</a></li>
        </ul>
      </li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</div>
<nav class="uk-navbar uk-visible-large site-nav-scroll-fixed">
  <div class="uk-container uk-container-center">
    <a href="/"><img src="/static/images/brand.jpg" width="30%" /></a>
    <ul class="uk-navbar-nav uk-navbar-flip">
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="/about/">About Me</a>
      </li>
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="#">Portfolio</a>
        <div class="uk-dropdown uk-dropdown-navbar" >
          <ul class="uk-nav uk-nav-navbar">
            <li><a class="uk-text-contrast" href="/wedding/">Wedding</a></li>
            <li><a class="uk-text-contrast" href="/pre-wedding/">Pre-Wedding Photo Shoot</a></li>
          </ul>
        </div>
      </li>
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a class="uk-text-contrast" href="#">My Art</a>
        <div class="uk-dropdown uk-dropdown-navbar" >
          <ul class="uk-nav uk-nav-navbar">
            <li><a class="uk-text-contrast" href="/my-art/#portraits">Portraits</a></li>
            <li><a class="uk-text-contrast" href="/my-art/#travel">Travel</a></li>
            <li><a class="uk-text-contrast" href="/my-art/#other-related-work">Other Related Work</a></li>
          </ul>
        </div>
      </li>
      <li><a class="uk-text-contrast" href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>