{% extends "base.html" %}
{% block title %}Patrick Joseph Photography | Weddings {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/wedding.css">
{% endblock %}
{% block content %}
<div class="uk-container uk-container-center uk-margin-large">
  <div class="uk-grid uk-margin-top">
    <div class="uk-width-1-1">
      <h2 class="uk-text-center uk-text-contrast">Wedding Section</h2>
    </div>
  </div>
  <div class="uk-flex uk-flex-wrap uk-flex-center uk-margin-large-top">
    {% for image in thumbnail_images %}
    <a href="/static/images/wedding/{{ image }}" data-uk-lightbox="{group:'my-group'}"><img class="uk-thumbnail" src="/static/images/wedding/thumbnails/{{ image }}" /></a>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/lightbox.min.js"></script>
{% endblock %}