{% extends "base.html" %}
{% block title %}Patrick Joseph Photography | Weddings {% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/wedding.css">
{% endblock %}
{% block content %}
<div class="uk-container uk-container-center uk-margin-large">
  <div class="uk-grid uk-margin-top">
    <div class="uk-width-1-1">
      <h2 class="uk-text-center uk-text-contrast">Wedding Section</h2>
    </div>
  </div>
  <div class="uk-grid uk-margin-large-top">
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
  </div>
  <div class="uk-grid uk-margin-large-top">
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
    <div class="uk-width-medium-1-4 uk-margin-top">
      <img class="uk-thumbnail" src="/static/images/cover2.jpg" />
    </div>
  </div>
</div>
{% endblock %}